<template>
	<div>
		<div class="card">
			<div class="card-header">Nested Home</div>
			<div class="card-body">
				<h1 class="card-title">Nested routes Home...</h1>
			</div>
		</div>
	</div>
</template>

<script setup></script>

<style lang="scss" scoped></style>
